version: "3.2"
services:
  #-----------------------------------------
  # web server
  #-----------------------------------------
  web:
    build:
      context: ./nginx/
    container_name: "web"
    volumes:
      - ./rails:/data
    ports:
     - "8080:80"
    environment:
     - NGINX_HOST=foobar.com
     - NGINX_PORT=80

  #-----------------------------------------
  # ap server
  #-----------------------------------------
  ap:
    build:
      context: ./rails/
    container_name: "ap"
    volumes:
      - ./rails:/data
    ports:
     - "3000:3000"
    command: bash -c "bundle install --path vendor/bundle && bundle exec rails s -p 3000 -b '0.0.0.0'"
